@media screen and (min-width: 0px) and (max-width: 950px) {
    .loadingall{
        opacity: 1;
        z-index: 1;
        position: absolute;
        left: 0px;
        top: 0px;
        background: linear-gradient(#011B5B, #022C93);
        display: none;
        overflow: hidden;
    }
    .rocket {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        text-align: center;
    }
    .loaderActionSs{
        border:1px solid;
        width:250px;
        height:250px;
        border-radius: 250px;
        animation:spin 2s linear infinite;
        border-color:white;
        position:absolute;
        margin:auto;
        clip: rect(0px,350px, 300px,15px);
        display: none;
    }
    .cut{
        width: 250px;
        height: 250px;
        border-radius: 250px;
        border-color:transparent;
        animation:rot 2s linear infinite;
        position: absolute;
        display: none;
    }
    .imgnavaettewsh{
        position: relative; left: 500px;
        width: 50px;
        height: 50px;
    }
    @keyframes rot {
        from {
            transform: rotate(0deg)
                    translate(-130px);
        }
        to {
            transform: rotate(360deg)
                    translate(-130px);
        }
    }
    @keyframes spin{
        100%{transform:rotate(360deg);filter:hue-rotate(360deg)}
    }
    .KosmosLoading{
        color: #fff;
        display: none;
        transition: .6s ease opacity,.6s ease transform;
        font-size: 50px;
        z-index: 100;
    }
    .bottomSmartLoader{
        width: 330px;
        height: 40px;
        margin: auto;
        display: none;
        text-align: left;
        transition: .6s ease opacity,.6s ease transform;
        position: relative;
        top: 8px;
    }
    .bottomSmartLoader h2{
        font-weight: 500;
        font-size: 16px;
    }
    .dfdggzeazfezertergzef{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
        height: 40px;
        color: #fff;
        font-family: 'Lato', sans-serif;
        margin: auto;
    }
    .rocket h1{
        font-family: 'Lato', sans-serif;
    }
    .all{
        width: 100%;
        height: auto;
        overflow: hidden;
        z-index: 0;
        opacity: 1;
    }
}
@media screen and (min-width: 950px) {
    .rocket h1{
        font-family: 'Lato', sans-serif;
    }
    .dfdggzeazfezertergzef{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 460px;
        height: 40px;
        color: #fff;
        font-family: 'Lato', sans-serif;
        margin: auto;
    }
    .loadingall{
        opacity: 1;
        z-index: 1;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(#011B5B, #022C93);
        display: none;
    }
    .loaderActionSs{
        border:1px solid;
        width:250px;
        height:250px;
        border-radius: 250px;
        animation:spin 2s linear infinite;
        border-color:white;
        position:absolute;
        margin:auto;
        clip: rect(0px,350px, 300px,15px);
        display: none;
    }
    .cut{
        width: 250px;
        height: 250px;
        border-radius: 250px;
        border-color:transparent;
        animation:rot 2s linear infinite;
        position: absolute;
        display: none;
    }
    .imgnavaettewsh{
        position: relative; left: 250px;
        width: 50px;
        height: 50px;
    }
    @keyframes rot {
        from {
            transform: rotate(0deg)
                    translate(-130px);
        }
        to {
            transform: rotate(360deg)
                    translate(-130px);
        }
    }
    @keyframes spin{
        100%{transform:rotate(360deg);filter:hue-rotate(360deg)}
    }
    .rocket {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        text-align: center;
    }
    .rocket img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .KosmosLoading{
        color: #fff;
        display: none;
        transition: .6s ease opacity,.6s ease transform;
        font-size: 65px;
        z-index: 100;
    }
    .bottomSmartLoader{
        width: 460px;
        height: 40px;
        margin: auto;
        display: none;
        text-align: left;
        transition: .6s ease opacity,.6s ease transform;
        position: relative;
        left: 10px;
        top: 20px;
    }
    .bottomSmartLoader h2{
        float: left;
        margin-right: 10px;
        font-weight: 500;
    }
    .all{
        width: 100%;
        height: auto;
        overflow: hidden;
        z-index: 0;
        opacity: 1;
    }
}
.owl-stage {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
}
#formFooter input:-webkit-autofill,
#formFooter input:-webkit-autofill:hover,
#formFooter input:-webkit-autofill:focus,
#formFooter input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}
#onvousrappellerapidementPopUP input:-webkit-autofill,
#onvousrappellerapidementPopUP input:-webkit-autofill:hover,
#onvousrappellerapidementPopUP input:-webkit-autofill:focus,
#onvousrappellerapidementPopUP input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #222 !important;
}
#votrestrategiesous48hPopUp input:-webkit-autofill,
#votrestrategiesous48hPopUp input:-webkit-autofill:hover,
#votrestrategiesous48hPopUp input:-webkit-autofill:focus,
#votrestrategiesous48hPopUp input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #222 !important;
}
#DistSurLeWebPopUp input:-webkit-autofill,
#DistSurLeWebPopUp input:-webkit-autofill:hover,
#DistSurLeWebPopUp input:-webkit-autofill:focus,
#DistSurLeWebPopUp input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #222 !important;
}
.counter {
    width: 20px;
    height: 20px;
    background: black;
    color: #fff;
    position: fixed;
    top: 120px;
    right: 0;
}
@media screen and (min-width: 950px) {
    .imgKosmosLoadingImg{
        width: 70px;
        height: 70px;
        background-image: url(https://www.kosmos-digital.com/tmp/media/utils/logoLoader.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .fistMenuWhenuLogoLogo{
        width: 190px;
        height: 50px;
        background-image: url(https://www.kosmos-digital.com/tmp/media/utils/logoMenu.png);
        background-size: 100% 50px;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 0px) and (max-width: 950px) {
    .imgKosmosLoadingImg{
        width: 70px;
        height: 70px;
        background-image: url(https://www.kosmos-digital.com/tmp/media/utils/logo.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .fistMenuWhenuLogoLogo{
        width: 190px;
        height: 50px;
        background-image: url(https://www.kosmos-digital.com/tmp/media/logoMenu.png);
        background-size: 100% 50px;
        background-repeat: no-repeat;
    }
}
.colorWhite{
    color: #fff;
}
.color00b6ff{
    color: #00b6ff;
}
.color022C93{
    color: #022C93;
}
.colore62b7c{
    color: #e62b7c;
}
.colore6c340
{
    color: #E6C340;
}
.bottomSmartLoader{
width: 460px;
height: 40px;
margin: auto;
/* border: 1px solid #fff; */
display: none;
text-align: left;
transition: .6s ease opacity,.6s ease transform;
position: relative;
left: 10px;
top: 20px;
}
.bottomSmartLoader h2{
float: left;
margin-right: 10px;
font-weight: 500;
}
.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  
  .animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  
  .animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  
  .animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
  }
  
  .animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
  }
  
  .animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  
  .animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }
  
  @media (print), (prefers-reduced-motion: reduce) {
    .animated {
      -webkit-animation-duration: 1ms !important;
      animation-duration: 1ms !important;
      -webkit-transition-duration: 1ms !important;
      transition-duration: 1ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
    }
  }

  @-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  }
  
  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  }

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
.referenceContent a{
    text-decoration: none;
}
a{
    text-decoration: none;
}
@-webkit-keyframes bounceInUp2 {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      /* opacity: 0; */
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
      /* font-size: 10px; */
    }
    30% {
      /* opacity: 1; */
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
      /* font-size: 20px;   */
    }
  }
  @keyframes bounceInUp2 {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      /* opacity: 0; */
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
      /* font-size: 10px; */
    }
    30% {
      /* opacity: 1; */
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
      /* font-size: 20px; */
    }
  }
  .bounceInUp2 {
    -webkit-animation-name: bounceInUp2;
    animation-name: bounceInUp2;
  }
  .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
.background022C93 {
    background: #022C93 !important;
}
.background62b7c {
    background: #e62b7c !important;
}
.background00b6ff {
    background:#00b6ff !important;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}