*{margin: 0; padding: 0;}
body{
    width: 100%;
    height: 100%;
    font-family: 'Google Sans',sans-serif;
    overflow-x: hidden;
    background: #fff;
}
a{
    text-decoration: none;
}
.stikyContact{
    width: 100%;
    height: 50px;
    background: #FBFBFB;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.stikyContactBis h4{
    font-weight: 500;
    color: #C1C1C1;
    font-size: 18px;
    padding: 0;
    margin: 0;
}
.stikyContactBis h5{
    font-weight: 500;
    color: #C1C1C1;
    position: relative;
    bottom: 5px;
    padding: 0;
    margin: 0;
}
.stikyContactBis{
    width: 700px;
    height: 50px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stikyContactU{
    width: 100%;
    height: auto;
}
.menu{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 60px;
    right: 0px;
    left: 0px;
    background: #fff;
    opacity: 1;
    z-index: 1;
}
.menuUI{
    width: 1200px;
    height: 70px;
    margin: auto;
}
.fistMenuWhenu{
    display: block;
    opacity: 1;
}
.fistMenuWhenuLogo h1{
    float: right;
    font-size: 45px;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.fistMenuWhenuLogo h6{
    color: #fff;
    float: right;
    font-weight: 500;
    position: relative;
    bottom: 5px;
    font-family: 'Google Sans',sans-serif;
}
.fistMenuWhenuLogo{
    width: 190px;
    height: 50px;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
}
.fdlgkjdbzejfank{
    width: 165px;
    height: 70px;
    float: right;
    position: relative;
    right: 17px;
    font-family: 'Lato', sans-serif;
}
.fistMenuWhenuMenu{
    width: 650px;
    height: 70px;
    float: right;
    line-height: 70px;
    color: #111;
}
.fistMenuWhenuMenu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fistMenuWhenuMenu ul li {
    list-style: none;
    cursor: pointer;
}
.secondMenuWhenu{
    display: none;
}
header{
    width: 100%;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 130px;
}
.H_header{
    width: 1200px;
    height: auto;
    margin: auto;
    padding-top: 100px;
}
.pres{
    width: 700px;
    height: 360px;
    float: left;
    color: #111 !important;
}
.sfkelrkzje{
    width: 140%;
    height: 45px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: 3.5rem;
    line-height: 5rem;
    position: relative;
    bottom: 10px;
}
.pioi{
    line-height: 30px;
}
.prdsnlskejfk{
    margin-top: 30px;
    margin-bottom: 0px;
    color: #111;
    font-size: 18px;
    width: 98%;
}
.startExecellent{
    width: 100%;
    height: 30px;
    float: left;
    margin-top: 15px;
    line-height: 30px;
}
.startExecellent h3{
    float: left;
    color: #111;
    margin-right: 20px;
    font-weight: 500;
    font-size: 15px;
}
.why{
    width: 100%;
    height: auto;
}
.headerBase{
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.W_why{
    width: 1200px;
    height: auto;
    margin: 0px auto;
    position: relative;
}
.whyCoun{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
}
.whyFrame{
    width: 300px;
    height: auto;
    background: #fff;
    box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.05);
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 1px;
    margin-right: 35px;
    transition: transform .3s ease;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    display: flex;
    flex-direction: column;
}
.whyFrameNumber{
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 100px;
    text-align: left;
    line-height: 50px;
    color: #fff;
    margin-bottom: 10px;
}
.whyFrameNumber h1{
    font-size: 50px;
    font-weight: 500;
    float: left;
}
.whyFrameTitle{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}
.whyFrameTitle h2{
    font-weight: 500;
    float: left;
    color: #fff;
}
.whyFrameContent{
    width: 100%;
    height: auto;
    float: left;
    line-height: 25px;
}
.whyFrameContent p{
    color: #888;
}
.whyFrameTitle1{
    width: 220px;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    background: #000;
}
.whyFrameTitle2{
    width: 260px;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    background: #000;
}
.whyFrameTitle3{
    width: 270px;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    background: #000;
}
.se-container{
	display: block;
	width: 100%;
    padding-top: 0px;
    perspective: 2px;
    position: absolute;
    top: 950px;
    left: 0px;
    right: 0px;
}
.se-slope{
	margin: 0 -50px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
    transform-origin: left center;
}
.se-slope:nth-child(odd){
	background: #fff;
    width: 200%;
    position: relative;
    overflow: hidden;
    right: 100px;
}
.se-slope:nth-child(even){
    overflow: hidden;
}
.se-slope:nth-child(odd) .se-content{
    padding: 100px 0px 100px 0px;
    position: relative;
    left: 150px;
    width: 50%;
    overflow: hidden;
}
.se-slope:nth-child(even) .se-content{
    padding: 100px 0px 100px 0px;
    overflow: hidden;
}
.M_method{
    width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.methodBg{
    width: 48%;
    height: 420px;
    float: left;
    background-image: url(https://www.kosmos-digital.com/tmp/media/method.png);
    background-size: 370px 351px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.method_text{
    width: 48%;
    height: 420px;
    float: right;
}
.method_textBig h1{
    float: left;
    color: #111;
}
.method_textBig{
    width: 100%;
    height: 40px;
    color: #111;
    margin-bottom: 15px;
}
.method_textBig h2{
    font-size: 33px;
    float: left;
    font-weight: 600;
    font-family: 'Google Sans',sans-serif;
    margin: 0;
    padding: 0;
}
.div-textQuestion{
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0px 7px 25px 0px rgb(0, 0, 0, 0.2);
    border-radius: 100px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    float: left;
    margin-right: 20px;
}
.div-textQuestion img{
    width: 35px;
    height: 35px;
    margin-top: 7.5px;
}
.desktopDisplayNone{
    display: none;
}
.method_subTitle{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-bottom: 25px;
}
.method_subTitle h2{
    float: left;
    font-weight: 500;
    margin-right: 10px;
}
.method_content{
    width: 100%;
    height: auto;
    float: left;
    color: #777;
}
.method_content p{
    position: relative;
    bottom: 10px;
    line-height: 25px;
}
.method_content ul li{
    list-style: none;
    float: left;
    margin-top: 3px;
    margin-bottom: 3px;
}
.method_content ul li p{
    display: inline;
    position: relative;
    top: 0px;
}
.method_content ul li img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.methodChiffre{
    width: 1100px;
    height: 100px;
    margin: auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
    margin-top: 50px;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.methodChiffreFrame{
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.methodChiffreFrameNumber{
    width: auto;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 5px;
}
.methodChiffreFrameText{
    width: auto;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 5px;
}
.methodChiffreFrameText p{
    color: #666;
    margin: 0px;
    padding: 0px;
}
.methodChiffreFrameNumber h1{
    color: #111;
    font-size: 35px;
}
.pmi{
    width: 100%;
    height: auto;
}
.pmiFrame{
    width: 1200px;
    height: auto;
    margin: auto;
}
.pmiFrameTitle{
    width: 100%;
    height: auto;
    text-align: center;
}
.pmiFrameTitle{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.pmiFrameImage{
    width: 1200px;
    height: 420px;
    border: 1px solid #000;
}
.discover{
    width: 100%;
    height: auto;
}
.discoverFrame{
    width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.discoverFrameTitle{
    width: auto;
    height: auto;
    margin-right: 50px;
}
.discoverFrameTitle h1{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: right;
}
.discoverFrameImage{
    width: 299px;
    height: auto;
    margin-left: 50px;
    position: relative;
}
.discoverFrameImage img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 299px;
    height: 110px;
}
.discoverFrameTitle button{
    width: 250px;
    height: 50px;
    border: none;
    background: #00b6ff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
}
.runSolution{
    width: 100%;
    height: auto;
}
.runSolutionFrame{
    width: 1200px;
    height: 300px;
    margin: auto;
    background-image: url(../media/yellow_image.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.runSolutionFrameTitle{
    width: auto;
    height: 150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.runSolutionFrameBubble{
    width: 100%;
    height: 300px;
    border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.bubbleTextSAAS{
    width: 100%;
    height: auto;
    float: right;
    position: relative;
    top: 90px;
    right: 20px;
    text-align: right;
}
.bubbleTextSAAS p{
    animation: MoveUpDown 3s linear infinite;
    font-size: 40px;
    color: #111;
    position: relative;
}
@keyframes MoveUpDown {
    0%, 100% {
      bottom: 30px;
    }
    50% {
      bottom: 60px;
    }
  }
.runSolutionFrameTitle button{
    width: 330px;
    height: 50px;
    border: none;
    background: #00b6ff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
}
.prestation{
    width: 100%;
    height: auto;
}
.prestationFrame{
    width: 1200px;
    height: auto;
    margin: auto;
}
.prestationFrameTitle{
    width: 100%;
    height: auto;
}
.prestationFrameTitle h1{
    margin: 0;
    padding: 0;
    font-size: 33px;
}
.prestationFrameContent{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}
.prestationBloc{
    width: 350px;
    height: auto;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    padding: 20px;
}
.prestationBloc:hover{
    box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.035);
    cursor: pointer;
    transform: translateY(-10px);
}
.prestationBlocIcon{
    width: 100%;
    height: auto;
}
.prestationBlocIconCorner{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #022c93;
    position: relative;
}
.prestationBlocIconCorner img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27px;
    height: 27px;
}
.prestationBlocTitle{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.prestationBlocTitle h3{
    font-weight: 600;
    color: #111;
}
.prestationBlocPrice{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.prestationBlocPrice h5{
    font-weight: 500;
    color:#888;
}
.prestationBlocContent{
    width: 100%;
    height: auto;
    max-height: 120px;
    margin-top: 15px;
}
.prestationBlocContent p{
    color: #777;
}
.discoverMorePrestations{
    width: 1200px;
    height: auto;
    margin-top: 50px;
}
.discoverMorePrestationsCenter{
    width: auto;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: auto;
    background: linear-gradient(to right, #00B6FF, #00B6FF 40%, #fff 80%, #fff 100%);
}
.discoverMorePrestationsTitle{
    width: 100%;
    height: auto;
}
.discoverMorePrestationsTitle h1{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.discoverMorePrestationsDescription{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.discoverMorePrestationsDescription p{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.discoverMorePrestationsButton{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.discoverMorePrestationsButton button{
    width: 350px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #FF65A7;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
}
.reference{
    width: 100%;
    height: auto;
}
.referenceFrame{
    width: 1200px;
    height: auto;
    margin: auto;
}
.referenceTitle{
    width: 100%;
    height: auto;
    text-align: center;
}
.referenceTitle h1{
    color: #111;
    font-size: 33px;
}
.referenceContent{
    display: grid;
    grid-template-columns: 575px 575px;
    grid-template-rows: 575px 575px 575px;
    grid-gap: 50px;
    margin: 50px 0px auto;
    width: 1200px;
    height: auto;

}
.referenceBloc{
    box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.05);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.referenceBloc:hover{
    cursor: pointer;
    transform: translateY(-10px);
}
.referenceBlocImage{
    width: 100%;
    height: 372px;
    overflow: hidden;
    position: relative;
}
.referenceBlocImage_img{
    width: 100%;
    height: 372px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.referenceBlocImage_icon{
    width: 100%;
    height: 372px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.referenceBlocImage_BlocIcon{
    width: 75px;
    height: 75px;
    background-color: red;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;
}
.referenceBlocImage_arrow{
    width: 100%;
    height: 372px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.referenceBlocContent{
    width: calc(100% - 20px);
    height: 163px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.referenceBlocContentTStatusProjet{
    width: calc(100% - 40px);
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.referenceBlocContentTStatusProjetLeft{
    width: auto;
    height: auto;
}
.referenceBlocContentTStatusProjetRight{
    width: auto;
    height: auto;
}
.referenceBlocContentTStatusProjetLeft h3{
    color: #111;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.referenceBlocContentTStatusProjetRight h5{
    color: #888;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.referenceBlocContentTStatusProjetDown{
    width: calc(100% - 40px);
    height: 140px;
    margin: 15px auto;
}
.referenceBlocImage img{
    width: 100%;
    height: 100%;
    transition-duration: 1s;
}
.referenceBlocImage img:hover{
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transition-duration: 1s;
}
.referenceBlocContentTStatusProjetDown p{
    color: #888;
    margin: 0;
    padding: 0;
}
.referencePlus{
    width: 1200px;
    height: auto;
}
.a-container {
    width: 100%;
    height: auto;
    float: left;
}
.a-container label {
    display: block;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: left;
    color: #111;
    font-weight: 500;
    background-color: transparent;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin-bottom: 0px;
    border-radius: 1px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.a-container label:after {
    content: "";
    border: solid #111;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right: 10px;
    top: 27px;
}
.a-container input:checked + label,
.a-container label:hover {
    background-color: transparent;
    border-radius: 1px;
    color: #111;
}
.a-container input:checked + label:after {
    border: solid #111;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 30px;
}
.a-container input:checked ~ .a-content {
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
}
.referencePlus input[type=radio]{
    display: none;
}
.a-content {
    width: 100%;
    height: auto;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul li{
    list-style: none;
}
.project{
    width: 100%;
    height: auto;
}
.projectFrame{
    width: 1200px;
    height: auto;
    margin: auto;
}
.projectTitle{
    width: 100%;
    height: auto;
    text-align: center;
}
.projectTitle h1{
    font-size: 33px;
    color: #111;
}
.projectSubTitle{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 30px;
}
.projectTitle h2{
    font-size: 33px;
    color: #111;
}
.projectContent{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 30px;
}
.projectContent button{
    width: 250px;
    height: 50px;
    border: none;
    background: #00b6ff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
}
.certifications{
    width: 100%;
    height: auto;
}
.certificationsFrame{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
}
.certificationsTitle{
    width: 100%;
    height: auto;
    text-align: center;
}
.certificationsTitle h1{
    font-size: 33px;
    color: #111;
}
.certificationsContent{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.certificationFotter{
    width: 100%;
    height: auto;
    margin-top: 30px;
    text-align: center;
}
.certificationFotter p{
    color: #777;
}
.item {
    align-items: center;
    background-color: tomato;
    color: white;
    display: flex;
    height: 300px;
    justify-content: center;
}
.footer{
    width: 100%;
    height: auto;
    min-height: 300px;
    padding-top: 50px;
    background: #FFDB58 url(../media/footer.png) top no-repeat;
    background-size: 1980px 300px;
    margin-top: 50px;
}
.footerFrame{
    width: 1200px;
    height: auto;
    margin: 300px auto 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}
.footerFrameLeft{
    width: 550px;
    height: auto;
}
.footerFrameRight{
    min-width: 380px;
    max-width: 450px;
    width: auto;
    height: auto;
}
.footerTitle{
    width: 100%;
    height: auto;
}
.footerTitle h1{
    color: #111;
    font-size: 33px;
}
.footerList{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.footerList ul li:not(:last-child) {
    margin-bottom: 15px;
}
.footerTitle h3{
    font-weight: 500;
}
.footerStep{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.footerStep h2{
    font-weight: 600;
    font-size: 35px;
}
.footerStepBis{
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.footerStepBis h5{
    color: #111;
}
.footerStepBis h3{
    color: #111;
}
.footerStep p:not(:last-child) {
    margin-bottom: 15px;
}
.footerStep p{
    font-size: 18px;
}
.formBox{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.formBoxLabel{
    width: 100%;
    height: auto;
}
.formBoxInput{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.inp{
    width: calc(100% - 20px);
    height: 50px;
    border-bottom: 1px solid #111;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
}
.formBoxInput textarea{
    width: calc(100% - 20px);
    height: 60px;
    border-bottom: 1px solid #111;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: transparent;
    resize: none;
}
.inpFile{
    width: 554px;
    height: 100px;
    outline: none;
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.formBoxDashed{
    width: 100%;
    height: 100px;
    border: 2px dashed #111;
    border-radius: 1px;
    position: relative;
}
.formBoxDashed p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}
.formBoxInput button{
    width: 250px;
    height: 50px;
    border: none;
    background: #00b6ff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
}
.subFooter{
    width: 100%;
    height: auto;
    padding-top: 50px;
}
.subFooterFrame{
    width: 1200px;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}
.subFooterBloc{
    width: 250px;
    height: auto;
}
.subFooterBlocTitle{
    width: 100%;
    height: auto;
}
.subFooterBlocTitle h3{
    color:#111;
    font-size: 16px;
    font-weight: 600;
}
.subFooterBlocContent{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.subFooterBlocContent ul li{
    color: #777;
    font-size: 13px;
}
.subFooterBlocContent ul li:not(:last-child) {
    margin-bottom: 10px;
}
.subFooterBlocContentBis{
    width: 100%;
    height: auto;
}
.inpSubFooter{
    width: calc(100% - 20px);
    height: 50px;
    border: 1px solid #ccc;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
}
.subFooterBlocContent button{
    width: 100%;
    height: 50px;
    border: none;
    background: #00b6ff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.subFooterBlocContentBis p{
    color: #777;
    font-size: 13px;
}
.copyright{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.copyrightFrame{
    width: 1200px;
    height: auto;
    margin: auto;
}
.copyrightBloc{
    width: 100%;
    height: auto;
}
.copyrightFrame .copyrightBloc:not(:last-child) {
    margin-bottom: 20px;
}
.copyrightBloc p{
    color: #777;
    font-size: 12px;
}
.copyrightBlocLine{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.copyrightBlocLineStart{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.copyrightBlocLineStart div{
    width: auto;
    height: auto;
    margin-right: 20px;
    color: #333;
    font-size: 15px;
}
.copyrightBlocLine div{
    width: auto;
    height: auto;
    margin-right: 20px;
    color: #777;
    font-size: 13px;
}
.mobileMenu{
    display: none;
}
.mobileView{
    display: none;
}



.bodyProject{
    width: 100%;
    height: auto;
    border: 1px solid #000;
}
.bodyProjectFrame{
    width: 1200px;
    height: auto;
    margin: auto;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}
.StategieProjectFrame{
    width: 1200px;
    height: auto;
    margin: auto;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerBodyBloc{
    width: 100%;
    height: auto;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerBodyBlocFrame{
    width: 48%;
    height: 400px;
    border: 1px solid #000;
}
.containerBodyBloc:not(:last-child) {
    margin-bottom: 30px;
}
.strategieBlocKosmosProject{
    width: 30%;
    height: auto;
    border: 1px solid #000;
}
.strategieBlocKosmosProjectTitle{
    width: 100%;
    height: auto;
    border: 1px solid #000;
}
.strategieBlocKosmosProjectTitle h2{
    color: #111;
    font-size: 28px;
}
.strategieBlocKosmosProjectContent{
    width: 100%;
    height: auto;
    border: 1px solid #000;
    margin-top: 40px;
}



.mentionLegal{
    width: 100%;
    height: auto;
    position: absolute;
    top: 130px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.mentionLegalFrame{
    width: 900px;
    height: auto;
    margin: auto;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 30px;
}
.copyrightBlocLine a{
    color: #777;
}
.mentionLegalFrameTitle{
    width: 100%;
    height: auto;
}
.mentionLegalFrameContent{
    width: 100%;
    height: auto;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 40px;
}
.mentionLegalFrameContentParagraphe:not(:last-child) {
    margin-bottom: 15px;
}
.mentionLegalFrameContentParagraphe{
    width: 100%;
    height: auto;
}




.owlFrameDiv{
    height: 85px;
}
.owlFrameDiv img{
    height: 100%;
}
.js-siema2 div div{
    width: auto !important;
    margin-left: 10px;
    margin-right: 10px;
}
.certificationsContent::before {
    width: 5%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left,
rgba(255,255,255,0) 0%,
    rgba(255,255,255,1) 69%);
    height: 100%;
    z-index: 10;
}
.certificationsContent::after {
    width: 5%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right,
rgba(255,255,255,0) 0%,
    rgba(255,255,255,1) 69%);
    height: 100%;
    z-index: 10;
}

.popUp{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.centerPopUp{
    width: 700px;
    height: 100%;
    margin: auto;
    position: relative;
}
.centerPopUpPrestation{
    width: 1000px;
    height: 100%;
    margin: auto;
    position: relative;
}
.contentPopUP{
    width: calc(100% - 80px);
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    transition: all .1s;
}
.contentPopUPPrestation{
    width: calc(100% - 80px);
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    transition: all .1s;
}
.contentPopUPBloc{
    width: 100%;
    height: auto;
    min-height: 50px;
}
.contentPopUPBloc:not(:last-child) {
    margin-bottom: 20px;
}
.contentPopUPForm{
    width: 80%;
    height: auto;
}
.closePopUP{
    width: 20px;
    height: 20px;
    position: relative;
    left: 10px;
    bottom: 10px;
    cursor: pointer;
}

.info_window{
    width: 300px;
    height: 465px;
    box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 30px;
    transition: all 1s ease 0s;
    background-color: #00b6ff;
    border-radius: 3px;
}
.info_windowHead{
    width: calc(100% - 32px);
    height: auto;
    padding: 15px;
    cursor: pointer;
}
.info_windowHeadTitle{
    width: 100%;
    height: auto;
    color: #fff;
}
.info_windowHeadTitle:not(:last-child) {
    margin-bottom: 10px;
}
.info_windowHeadTitle h5{
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}
.info_windowHeadTitle h2{
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}
.info_windowContent{
    width: calc(100% - 32px);
    height: auto;
    padding: 15px;
    margin-top: 10px;
}
.info_windowContentBloc{
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
}
.info_windowContentBloc:not(:last-child) {
    margin-bottom: 10px;
}
.info_windowContentBloc img{
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
}
.info_windowContentBloc button{
    width: 100%;
    height: 35px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #333;
}
.info_windowContentBloc p{
    font-size: 13px;
}

.thankyou{
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.thankyouFrame{
    width: 1200px;
    height: auto;
    min-height: 100px;
    margin: auto;
}
.thankyouFrameTitle{
    width: 100%;
    height: auto;
    text-align: center;
}
.thankyouFrameTitle:not(:last-child) {
    margin-bottom: 15px;
}
.thankyouFrameTitle a{
    color: #111;
}


.leftPrestationPopUP{
    width: 200px;
    height: auto;
    position: relative;
    right: 100px;
}
.prestationColorBloc{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}
.rightPrestationPopUP{
    width: 850px;
    height: auto;
    position: relative;
    right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.prestationPopUpBloc{
    width: 100%;
    height: auto;
    max-height: 50vw;
}
.prestationPopUpBloc:not(:last-child) {
    margin-bottom: 15px;
}
#t1, #t2, #t3, #t4, #t5, #t6, #t7, #t8, #t9, #t10, #t11, #t12,
#t13, #t14, #t15, #t16, #t17, #t18, #t19, #t20, #t21, #t22, #t23,
#t24, #t25, #t26, #t27, #t28, #t29, #t30, #t31, #t32, #t33{
    display: none;
}
#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10, #p11, #p12,
#p13, #p14, #p15, #p16, #p17, #p18, #p19, #p20, #p21, #p22, #p23,
#p24, #p25, #p26, #p27, #p28, #p29, #p30, #p31, #p32, #p33{
    display: none;
}
#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9, #c10, #c11, #c12,
#c13, #c14, #c15, #c16, #c17, #c18, #c19, #c20, #c21, #c22, #c23,
#c24, #c25, #c26, #c27, #c28, #c29, #c30, #c31, #c32, #c33{
    display: none;
}
#i1, #i2, #i3, #i4, #i5, #i6, #i7, #i8, #i9, #i10, #i11, #i12,
#i13, #i14, #i15, #i16, #i17, #i18, #i19, #i20, #i21, #i22, #i23,
#i24, #i25, #i26, #i27, #i28, #i29, #i30, #i31, #i32, #i33{
    display: none;
}
.prestationPopUpFirstBtn{
    width: 250px;
    height: 50px;
    border: none;
    background: #00b6ff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
}
.prestationPopUpSecondBtn{
    width: 250px;
    height: 50px;
    border: none;
    background: #00b6ff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
    margin-left: 30px;
}
.prestationPopUpBloc h5{
    color: #777;
    font-weight: 500;
}
.prestationColorBloc img{
    margin: auto;
    width: 75px;
    height: 75px;
    position: relative;
    top: 60px;
}
.background022C93 {
    background: #022C93 !important;
}
.background62b7c {
    background: #e62b7c !important;
}
.background00b6ff {
    background:#00b6ff !important;
}
.prestationBlocRowOrColumn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
